/* Write your code here: */
h1, h2 {
    font-family: 'Roboto', sans-serif;
    color: blueviolet;
}

.box > .done {
    color: firebrick;
}

/* Descendants */
.box ul li {
    color: blue;
}

/* Selector Chaining */
.box ul li.done {
    color: seagreen;
}